*{
    padding: 0;
    margin: 0;
    
}
.shop_name{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: "Sekuya", system-ui;
}
.menu{
    font-size: 25px;
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 10px; 
   
    position: sticky;
    top: 0;
    right: 0;
    z-index: 501;
    background-color: #364142;
    
}
.menu li a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.menu li a:hover{
    color: red;
}
body{
    
    background-color: rgb(255, 255, 255); 
    font-family: Helvetica, sans-serif !important;
    
   
   
}
.contenner{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    padding: 50px 50px;
    
    
}
.card{
    background-color: rgb(255, 255, 255);
    filter: brightness(98%);
    width: 320px;
    height: 420px;
    margin: 10px; 
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0 4px 20px ;
    transition: 0.3s;    
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 15px 30px rgb(255, 7, 7);
}
.card img{
    width: 300px;
    height: 250px; 
    object-fit: cover;
    transition: 0.4s ease;
     
}
.card:hover img{
   transform: scale(1.2);
}
.card_body{
    padding: 10px;
}
h2{
    font-size: 25px;
    font-weight: 400;
}
.instock{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 10px 0;
}
.size{
    font-size: 20px;
    /* font-weight: bold; */
    color: rgb(0, 0, 0);
    margin: 10px 0;
}
.price-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3px;
}
.price{
    margin-top: 80px 0;
    font-size: 25px; 
    color: #2e7d32;
    font-weight: bold;
    margin: 10px 0;
    
}
.btn{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(69, 242, 95);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
   
    
}
.btn:hover{
    color: rgb(255, 255, 255);
    background-color: #0800ff;
}

.end{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 200px;
    padding: 10px 40px;
    background-color: #364142;
    color: white;
    height: 35vh;
}
.detail{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    list-style: none; 
    text-decoration: none;
}
.end .detail .Shop_Info{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
}
.detail li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.detail li a:hover{
    color: red;
}
.end .Location_Shop h2{
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}
.end .Location_Shop p{
    font-size: 20px;
    font-weight: bold;
}
.end .Contact_shop h2{
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}
.end .Contact_shop p{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}


 
