*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}
.form{
    width: 420px;
    background-color: rgb(103, 115, 117);
    color: white; 
    border-radius: 10px;
    padding: 30px 40px;
     box-shadow: 0px 5px 5px 5px rgb(5, 72, 227);
}
.form h1{
    font-size: 36px;
    text-align: center;
}
.form .input_box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input_box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input_box input::placeholder{
    color: white;
} 
.remember_forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember_forget label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember_forget a{
    color: #fff;
    text-decoration: none;

}
.remember_forget a:hover{
    text-decoration: underline;
    color: red;
}
.btn{
    width: 100%;
    height: 45px;
    background-color: #949497;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333 ;
    font-weight: 600;
}
.btn a{
    text-decoration:none;
    color: #000000;
}
.btn a:hover{
    color: red;
}
.register_link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}
.register_link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register_link p a:hover{
    text-decoration: underline;
     color: red;
}