*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
.container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    overflow: hidden;
    background-color:  rgb(103, 115, 117);
    box-shadow: 0 15px 20px rgb(5, 72, 227) ;
}
h1{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid silver ;
}
.conten{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.input_box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.input_box:nth-child(2n){
    justify-content: end;
}
.input_box label, .gender_tital{
    width: 95%;
    color: #fff;
    font-weight: bold;
    margin: 5px 0;


}
.gender_tital{
    font-size: 18px;
}
.input_box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.input_box input:is(:focus,:valid){
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2) ;
}
.gender label{
    padding: 0 20px 0 5px;
    font-size: 16px;

}
.gender label, input{
    cursor: pointer;
}
.btn{
    margin: 15px 0;
}
.btn button{
    width: 100%;
    margin-top: 10px ;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;

}
.btn button a{
    color: #fff;
    text-decoration: none;
}
.btn button a:hover{
    text-decoration: underline;
 
}